<mat-card>
    <mat-card-content>
        <mat-card-title>
            <h3>{{title}}</h3>
        </mat-card-title>
        <p [ngClass]="classname">Este card foi criado para explorar a utilização da diretiva <b>NgFor</b>. Foi mantido o modelo de seleção de classes utilizado no NgClass, mas cada opção de classe é gerada dinamicamente a partir de uma array de classes.</p>
        <mat-form-field>
            <mat-select placeholder="Selecione uma classe:" name="select-class" [(ngModel)]="classname">
                <mat-option *ngFor="let class of classes, let i = index" [value]="class.value">
                    {{class.title}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card-content>
</mat-card>