<mat-card>
    <mat-card-content>
        <mat-form-field>
            <input matInput type="text" placeholder="Name" [(ngModel)]="name">
        </mat-form-field>
        <app-icon-button [icon]="'add_circle'" (sendClickEmitter)="addClient()"></app-icon-button>
    </mat-card-content>
    <mat-list role="list" *ngIf="clients.length > 0">
        <mat-list-item role="listitem" *ngFor="let client of clients, let i = index">
            {{client.name}}
            <app-icon-button [icon]="'delete'" (sendClickEmitter)="deleteClient(i)"></app-icon-button>
        </mat-list-item> 
    </mat-list>
</mat-card>