.products-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    gap: 2rem;
}

.example-card {
    max-width: 90%;
    min-width: 80%;
}

@media (min-width: 700px) {
    .example-card {
        max-width: 30%;
        min-width: 25%;
    }
}