<!-- <app-ngclass-fun></app-ngclass-fun>
<app-ngfor-fun></app-ngfor-fun>
<app-ngif-fun></app-ngif-fun>
<app-ngtemplate-fun></app-ngtemplate-fun>
<app-ngcontainer-fun></app-ngcontainer-fun>
<app-ngcontent-fun>
    <p>Componente criado para utilizar a diretiva NgContent. Foi mantida a mesma estrutura do card NgContainer, exceto pela exibição deste parágrafo, que se utiliza da diretiva NgContent.</p>
    <p>Utilize a seleção abaixo para filtrar com a diretiva NgIf os cards exibidos dinamicamente
        por meio da diretiva NgFor.</p>
</app-ngcontent-fun> 
<app-ngstyle-fun></app-ngstyle-fun>
-->

<app-ngswitch-fun></app-ngswitch-fun>