.products-display {
    margin: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    gap: 2rem;
}

.example-card {
    max-width: 45%;
    min-width: 40%;
}